columns = 12
total-width = 960px
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
clearfix()
 *zoom:1

	&:before,
	&:after
		content:""
		display:table

	&:after
		clear:both


//////////
// GRID //
//////////

body
	width 100%
	clearfix()

row(x = columns)
	display block
	width (total-width / columns) * x
column(x)
	display inline-block
	float left
	width ((total-width / columns) * x) - 10px
	margin 0 5px
offset(x)
	margin-left ((total-width / columns) * x) + 10px
flush(x)
	padding-left ((total-width / columns) * x) + 10px