icon(shape)
	&:before
		font-family: 'Iconic'
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1px;
		-webkit-font-smoothing: antialiased;
		content shape

icon-arrow-left = "\3c"
icon-arrow-right = "\3e"
icon-arrow-down = "\e014"
icon-arrow-up = "\e019"
icon-arrow-up-2 = "\e004"
icon-heart = "\68"
icon-star = "\73"
icon-thumbs-up = "\e005"
icon-chat = "\e006"
icon-comment = "\e007"
icon-search = "\e008"
icon-location = "\e009"
icon-export = "\e00a"
icon-paperclip = "\e00b"
icon-eye = "\e00c"
icon-earth = "\e00d"
icon-cross = "\e00e"
icon-erase = "\e00f"
icon-plus = "\e010"
icon-minus = "\e011"
icon-lock = "\e012"
icon-cross-2 = "\78"
icon-checkmark = "\76"
icon-list = "\e015"
icon-layout = "\e017"
icon-book = "\e018"
icon-pictures = "\e01a"
icon-facebook = "\e01b"
icon-googleplus = "\e01c"
icon-mail = "\6d"
icon-pencil = "\e000"
icon-location-2 = "\e001"
icon-trash = "\e002"
icon-phone = "\e003"
icon-add-to-list = "\e016"
icon-disk = "\e013"
icon-share = "\e01e"
icon-clock = "\e01f"
icon-bell = "\e020"
icon-statistics = "\e021"
icon-bars = "\e022"
icon-graph = "\e023"
icon-user = "\e024"
icon-target = "\e025"
icon-credit-card = "\e026"
icon-help = "\e027"
icon-info = "\e028"
icon-logout = "\e029"
icon-resize-enlarge = "\e02a"
icon-resize-shrink = "\e02b"
icon-twitter = "\e01d"
icon-brush = "\e02c"