// License MIT
// Author: Jorge Avila <jorge.e.avila@gmail.com>
// body
//   -rems('margin', 10 20 30 40)

$basefont = 16
$lineheight = 26
-rems(property, sizes)
	rems = null
	pixs = null
	if length(sizes) > 1
		for prop, i in sizes
			pixs[i] = prop*$basefont*1px
			rems[i] = prop*1rem
	else
		pixs = sizes*$basefont*1px
		rems = sizes*1rem

	{property}: pixs
	{property}: rems

-height(property, sizes)
	rems = null
	pixs = null
	if length(sizes) > 1
		for prop, i in sizes
			pixs[i] = prop*$lineheight*1px
			rems[i] = prop*1rem
	else
		pixs = sizes*$lineheight*1px
		rems = sizes*($lineheight/$basefont)*1rem

	{property}: pixs
	{property}: rems