body {
  font-size: 90%;
  background: #fff;
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
}
h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.95em;
}
a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  color: #00f;
}
p {
  line-height: 1.4;
  color: #333;
}
hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
}
table tbody th,
table tbody td {
  padding: 0.5em 0;
}
table tbody th {
  text-align: left;
  font-weight: normal;
  color: #808080;
  padding-right: 1em;
}
aside {
  font-size: 90%;
}
aside ul {
  padding: 0 1em;
  margin: 0;
  list-style-type: none;
}
aside ul li {
  padding: 0.5em 0;
}
aside ul li.heading {
  color: #000;
}
aside ul a {
  text-decoration: none;
  color: #808080;
}
aside ul a:hover {
  color: #000;
}
.nav {
  background: #fff;
  position: fixed;
  z-index: 2;
}
.nav .logo {
  float: left;
  margin: 0em 1em;
  position: relative;
  z-index: 2;
}
.pure-input-grouped {
  height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 8px;
  background: #fff;
}
.pure-input-grouped input,
.pure-input-grouped select {
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent !important;
}
.pure-input-grouped label {
  padding: 1em;
}
.pure-input-grouped input[type=text] {
  width: 100%;
}
.pure-menu.pure-menu-dropdown {
  display: inline-block;
  margin: 0;
  width: auto;
  max-height: 0;
  padding: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  position: absolute;
  -webkit-transition: 150ms all;
  -moz-transition: 150ms all;
  -o-transition: 150ms all;
  -ms-transition: 150ms all;
  transition: 150ms all;
  top: 100%;
  right: 0;
  left: inherit;
  background: #fff;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-toggle {
  cursor: pointer;
}
.open .dropdown-toggle {
  background: #eee;
}
.open .pure-menu.pure-menu-dropdown {
  background: #fff;
  margin-top: 0.5em;
  max-height: 400px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: 150ms all;
  -moz-transition: 150ms all;
  -o-transition: 150ms all;
  -ms-transition: 150ms all;
  transition: 150ms all;
}
.pure-button,
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=url],
.pure-form input[type=date],
.pure-form input[type=month],
.pure-form input[type=time],
.pure-form input[type=datetime],
.pure-form input[type=datetime-local],
.pure-form input[type=week],
.pure-form input[type=number],
.pure-form input[type=search],
.pure-form input[type=tel],
.pure-form input[type=color],
.pure-form select,
.pure-form textarea {
  height: 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.pure-button {
  border: 1px solid #eee;
  color: #5c5c5c;
  background: #eee;
  cursor: pointer;
}
.pure-button:hover {
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
}
.pure-button.pure-button-primary {
  border: 1px solid #00f;
  background: #00f;
  color: #fff;
}
.pure-button.pure-button-primary:hover {
  border: 1px solid #0000e6;
  background: #0000e6;
}
.pure-button.pure-button-small {
  font-size: 80%;
  height: auto;
  padding: 4px;
}
.pure-button.pure-button-success {
  background: #2ecc71;
  border: 1px solid #2ecc71;
  color: #fff;
}
.pure-button.pure-button-error {
  background: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
}
.pure-menu li a {
  color: #000;
}
.pure-menu .pure-menu-selected a {
  color: #fff;
  background: #00f;
}
.pure-menu .pure-menu-selected a:hover {
  background: #00f;
}
.pure-menu.pure-menu-sidebar {
  border: none;
}
.pure-menu.pure-menu-media {
  margin-bottom: 2em;
  border: none !important;
  margin-left: -1em;
}
.pure-menu.pure-menu-media li {
  padding: 0;
}
.pure-menu.pure-menu-media a {
  padding: 0.25em 1em;
  white-space: normal;
  overflow: hidden;
}
.pure-menu.pure-menu-media a strong,
.pure-menu.pure-menu-media a span {
  color: #000;
}
.show-menu position relative .pure-menu.pure-menu-overlay {
  display: block;
  position: absolute;
  top: 100%;
}
.show-menu:hover .pure-menu.pure-menu-overlay {
  display: block;
}
.error {
  color: #e74c3c;
}
.error label,
.error input {
  border-color: #e74c3c;
  color: #e74c3c;
}
.nav {
  width: 100%;
  display: inline-block;
  z-index: 2;
}
.nav li {
  line-height: 1;
}
.nav .nav-inner {
  border-bottom: 2px solid #00f;
  position: relative;
}
.nav .pure-menu-open {
  background: transparent;
  font-size: 90%;
  text-transform: uppercase;
}
.nav .pure-menu-open .pure-menu-heading {
  font-size: 100%;
  font-weight: bold;
}
.nav .pure-menu-open .pure-menu-open {
  text-transform: none;
  font-size: 1rem;
}
.dashboard-admin .nav {
  position: relative;
}
.dashboard-admin .layout {
  padding-left: 150px;
}
.dashboard-admin .list {
  width: 150px;
  margin-left: -150px;
  margin-top: 5em;
}
.dashboard-admin header h1 {
  text-align: center;
}
.dashboard-admin .main {
  width: 100%;
}
.dashboard-admin .main .content {
  width: 70%;
  margin: 0 auto;
}
#home {
  width: 100%;
}
#home .image-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/land-page.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
#home .introduccion {
  display: block;
  margin: 120px auto;
  max-width: 520px;
  font-size: 1.25em;
  position: relative;
  padding: 40px 20px;
  background: #fff;
}
#home h1 {
  text-transform: uppercase;
  font-weight: 700;
}
#home h2,
#home p {
  font-family: serif;
}
#home h2 {
  color: #808080;
}
#home p {
  font-size: 1.2em;
}
#main {
  background: #fff;
  padding-top: 42px;
}
#main h1 {
  margin: 0.5em 0 0;
}
#main p.subtitle {
  margin: 0;
  color: #808080;
}
#main .controls {
  margin-top: 2em;
  text-align: right;
}
#main header {
  padding: 1em 2em;
  border-bottom: 1px solid #eee;
}
#main article {
  padding: 1em 2em;
}
#main article p:first-child {
  margin: 0;
}
#main footer {
  padding: 1em 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
}
#main footer .controls {
  text-align: center;
}
.dashboard .layout {
  padding-left: 310px;
  overflow: hidden;
}
#list {
  position: fixed;
  top: 41px;
  bottom: 0;
  overflow: auto;
  width: 310px;
  left: 0;
}
#list strong {
  text-transform: capitalize;
}
#list .pure-menu {
  border: none;
  background: none;
}
#list .controls {
  padding: 1em;
}
#list .filter-form {
  margin-top: 2em;
  margin-bottom: 2em;
}
#list .filter-form legend {
  font-size: 100%;
  color: #000;
  cursor: pointer;
}
#list .filter-form fieldset {
  margin: 0;
}
#list li.action {
  margin-bottom: 0.5em;
}
#list li.action a {
  color: #000;
  background: #fff;
  margin: 0em 1em;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
#list li.action.pure-menu-selected a {
  background: #00f;
  color: #fff;
}
#list .pure-menu-selected a {
  background: #eee;
  color: #000;
}
.pure-form p {
  margin: 0;
  margin-bottom: 1em;
}
.pure-form input,
.pure-form select,
.pure-form textarea {
  margin-bottom: 8px;
  -webkit-box-shadow: auto;
  box-shadow: auto;
}
.pure-form .box-inside {
  padding: 0em 1em;
}
.pure-form label {
  color: #808080;
}
.pure-form legend {
  color: #3498db;
}
.pure-form fieldset {
  margin: 2em 0em;
}
.pure-form fieldset:last-child {
  margin-bottom: inherit;
}
.pure-form textarea {
  height: 136px;
}
.pure-form .age {
  white-space: nowrap;
}
.pure-form .age input {
  display: inline;
}
.pure-form .highlight {
  border-bottom-color: #e74c3c;
}
.pure-form .variations-list img {
  margin-right: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pure-form button {
  margin: 1em 0em;
}
.pure-form .checkbox-list label {
  display: inline-block;
  width: 50%;
}
.pure-form .checkbox-list label:hover {
  background: #eee;
  cursor: pointer;
}
.uploader-container input {
  display: none;
}
.modal.fade.in {
  top: 20px;
}
.modal {
  max-width: 960px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal-body {
  padding: 0;
  max-height: 520px;
}
.labels-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.labels-container .label {
  position: absolute;
  border: 2px solid #fff;
  -webkit-box-shadow: inset 0px 0px 1px #000, 0px 0px 1px #000;
  box-shadow: inset 0px 0px 1px #000, 0px 0px 1px #000;
}
.labels-container .label .text {
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: 100%;
  margin-top: -15px;
  background: #fff;
  color: #000;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -o-transition: 0.25s all;
  -ms-transition: 0.25s all;
  transition: 0.25s all;
}
.labels-container .label:hover .text {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin-top: 5px;
  max-height: 40px;
}
.photo-container img {
  margin: 0;
  padding: 0;
}
.photo-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0);
}
.photo-container .overlay textarea,
.photo-container .overlay span {
  display: none;
}
.photo-container .overlay.mark-tag {
  cursor: crosshair;
}
.photo-container .overlay .tag {
  position: absolute;
  border: 1px solid #fff;
  -webkit-transition: 0.25s opacity, border, background;
  -moz-transition: 0.25s opacity, border, background;
  -o-transition: 0.25s opacity, border, background;
  -ms-transition: 0.25s opacity, border, background;
  transition: 0.25s opacity, border, background;
  -webkit-box-shadow: 0px 0px 1px #000;
  box-shadow: 0px 0px 1px #000;
}
.photo-container .overlay .tag .pure-form {
  bottom: 0;
}
.photo-container .overlay .tag .ui-resizable-handle {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: 0.25s opacity;
  -moz-transition: 0.25s opacity;
  -o-transition: 0.25s opacity;
  -ms-transition: 0.25s opacity;
  transition: 0.25s opacity;
}
.photo-container .overlay .tag.editable {
  background: rgba(0,0,255,0.5);
  border: 1px solid #00f;
}
.photo-container .overlay .tag.editable:hover .ui-resizable-handle {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.photo-container .overlay .tag.editable textarea {
  display: block;
  position: absolute;
  margin: 0;
  height: 5em;
  width: 100%;
  top: 100%;
  margin-top: 5px;
}
.photo-container .overlay .tag.editable span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 1em;
  background: #fff;
  cursor: pointer;
}
.photo-container .overlay .tag.editable span:hover {
  background: #eee;
}
.box-inner {
  padding: 0px 20px;
}
.space-top {
  padding-top: 150px;
}
.controls .uploader {
  display: inline-block;
}
.controls .uploader div {
  display: inline-block;
}
.typeahead {
  list-style-type: none;
  border: 1px solid #eee;
  padding: 1em 0;
  position: absolute;
  background: #fff;
  z-index: 100;
}
.typeahead a {
  padding: 0.25em 1em;
  display: block;
  color: #666;
  font-size: 90%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.typeahead a:hover {
  background: #00f;
  color: #fff;
}
.typeahead .active {
  background: #00f;
}
.typeahead .active a {
  color: #fff;
}
.thumbnail {
  position: relative;
  max-height: 120px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.thumbnail .delete {
  position: absolute;
  top: -1em;
  right: 0;
  max-height: 0px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  display: inline-block;
}
.thumbnail:hover .delete {
  top: 0em;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  max-height: 40px;
}
.notification {
  position: absolute;
  left: 50%;
  top: 1em;
  z-index: 1000;
}
.notification .error {
  background: #e74c3c;
  color: #fff;
}
.notification .success {
  background: #2ecc71;
  color: #fff;
}
.notification .neutral {
  background: #ff0;
  color: #000;
}
.notification ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-left: -250px;
}
.notification ul li {
  background: #fff;
  padding: 0.5em 1em;
  text-align: center;
  width: 500px;
  margin-bottom: 0.5em;
}
.dropdown-menu {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0.25em;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 100;
}
.datepicker {
  width: 100%;
}
.datepicker .muted,
.datepicker em {
  color: #b3b3b3;
}
.datepicker td {
  padding: 0;
}
.datepicker thead button {
  padding: 0.25em 0.5em;
  width: 100%;
}
.datepicker tbody button {
  padding: 0.5em;
}
.datepicker button {
  background: none;
  border: 0;
  padding: 4px;
  margin: 0;
}
.datepicker button.btn-info {
  background: #00f;
  color: #fff;
}
.datepicker button.btn-info:hover {
  background: #00f;
}
.datepicker button:hover {
  background: #eee;
}
.text-center {
  text-align: center;
}
.loading-message {
  z-index: 1000;
  text-align: center;
}
.loading-message .center {
  display: inline-block;
  width: 70px;
  text-align: center;
  font-size: 90%;
  padding: 1em;
  color: #808080;
}
.ui-resizable-handle {
  width: 16px;
  height: 16px;
  background: rgba(238,238,238,0.9);
  border: 1px solid #a7a7a7;
  position: absolute;
}
.ui-resizable-s {
  bottom: -16px;
  right: 50%;
  cursor: s-resize;
}
.ui-resizable-se {
  bottom: -16px;
  right: -16px;
  cursor: se-resize;
}
.ui-resizable-sw {
  bottom: -16px;
  left: -16px;
  cursor: sw-resize;
}
.ui-resizable-e {
  bottom: 50%;
  right: -16px;
  cursor: e-resize;
}
.ui-resizable-w {
  bottom: 50%;
  left: -16px;
  cursor: w-resize;
}
.ui-resizable-n {
  top: -16px;
  right: 50%;
  cursor: n-resize;
}
.ui-resizable-ne {
  top: -16px;
  right: -16px;
  cursor: ne-resize;
}
.ui-resizable-nw {
  top: -16px;
  left: -16px;
  cursor: nw-resize;
}
.ui-draggable {
  cursor: move;
}
.ui-draggable-dragging {
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
.ui-resizable-resizing {
  border: 2px dashed rgba(102,102,255,0.7) !important;
}
.ui-resizable-resizing .ui-resizable-handle {
  background: rgba(102,102,255,0.7);
}
.overlay-tag {
  background: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.report-container {
  position: relative;
  width: 700px;
}
.report-title {
  font-weight: normal;
  margin-left: 1em;
  font-size: 1.5em;
  white-space: pre;
}
.report-legend-container {
  position: absolute;
  top: 5em;
  left: 600px;
}
.report-legend .color {
  width: 10px;
  height: 10px;
  display: inline-block;
}
.paginate {
  font-size: 80%;
  text-align: center;
  background: #fff;
  margin: 2em 0em;
}
.paginate a {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  background: #fff;
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.paginate a.active {
  background: #00f;
  color: #fff;
}
.paginate a.active:hover {
  background: #00f !important;
}
