@import 'nib'
// Colores
turquesa = #1ABC9C
asfalto = #34495E
concreto = #95A5A6
red = #e74c3c
esmeralda = #2ECC71
river = #3498DB
amatista = #9B59B6
alizarin = #E74C3C
zanahoria = #E67E22
sol = #F1C40F
naranja = #F39C12
nube = #ECF0F1
lightgrey = #eee
grey = #333
listBackground = white
listHighlight = red
primaryColor = blue
body
	font-size 90%
	background white
h1
	font-weight normal
h2
	font-weight normal
h3
	text-transform uppercase
	font-weight normal
	font-size .95em
a
	transition all .25s
	color primaryColor
p
	line-height 1.4
	color black + 20%
hr
	border none
	border-bottom 1px solid lightgrey
	margin 1em 0
table
	tbody
		th,td
			padding .5em 0
		th
			text-align left
			font-weight normal
			color black + 50%
			padding-right 1em
aside
	font-size 90%
	ul
		padding 0 1em
		margin 0
		list-style-type none
		li
			padding 0.5em 0
			&.heading
				color black
		a
			text-decoration none
			color black + 50%
			&:hover
				color black
.nav
	background white
	position fixed
	z-index 2
	.logo
		float left
		margin 0em 1em
		position relative
		z-index 2

.pure-input-grouped
	height: 34px
	box-sizing: border-box
	border-radius: 0 !important
	border: 1px solid #ccc
	box-shadow: inset 0 1px 3px #ddd
	overflow hidden
	white-space nowrap
	margin-bottom 8px
	background white
	input
	select
		border 0 !important
		box-shadow none !important
		background transparent !important
	label
		padding 1em
	input[type=text]
		width 100%

.pure-menu.pure-menu-dropdown
	display inline-block
	margin 0
	width auto
	max-height 0
	padding 0
	opacity 0
	overflow hidden
	box-shadow 1px 1px 5px rgba(black,.1)
	position absolute
	transition 150ms all
	top 100%
	right 0
	left inherit
	background white
.dropdown
	position relative
	display inline-block
.dropdown-toggle
	cursor pointer
.open	
	.dropdown-toggle
		background lightgrey
	.pure-menu.pure-menu-dropdown
		background white
		margin-top .5em
		max-height 400px
		opacity 1
		transition 150ms all
.pure-button, .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea
	height 34px
	box-sizing border-box
	border-radius 0 !important
.pure-button
	border 1px solid lightgrey
	color grey+20%
	background lightgrey
	cursor pointer
	&:hover
		background lightgrey - 5%
		border 1px solid lightgrey - 5%
	&.pure-button-primary
		border 1px solid primaryColor
		background primaryColor
		color white
		&:hover
			border 1px solid primaryColor - 10%
			background primaryColor - 10%
	&.pure-button-small
		font-size 80%
		height auto
		padding 4px
	&.pure-button-success
		background esmeralda
		border 1px solid esmeralda
		color white
	&.pure-button-error
		background red
		border 1px solid red
		color white

.pure-menu
	li a
		color black
	.pure-menu-selected
		a
			color white
			background primaryColor
			&:hover
				background primaryColor
	&.pure-menu-sidebar
		border none
	&.pure-menu-media
		margin-bottom 2em
		border none !important
		margin-left -1em
		li
			padding 0
		a
			padding .25em 1em
			strong, span
				color black
			white-space normal
			overflow hidden
.show-menu
	position relative
		.pure-menu.pure-menu-overlay
			display block
			position absolute
			top 100%
		
	&:hover
		.pure-menu.pure-menu-overlay
			display block
.error
	color red
	label
	input
		border-color red
		color red
.nav
	width 100%
	display inline-block
	z-index 2
	li
		line-height 1
	.nav-inner
		border-bottom 2px solid primaryColor
		position relative
	.pure-menu-open
		background transparent
		font-size 90%
		text-transform uppercase
		.pure-menu-heading
			font-size 100%
			font-weight bold
		.pure-menu-open
			text-transform none
			font-size 1rem
.dashboard-admin
	.nav
		position relative
	.layout
		padding-left 150px
	.list
		width 150px
		margin-left -150px
		margin-top 5em
	header
		h1
			text-align center
	.main
		width 100%
		.content
			width 70%
			margin 0 auto
#home
	width 100%
	.image-background
		position fixed
		top 0
		left 0
		right 0
		bottom 0
		background-image url('../img/land-page.jpg')
		background-size cover
		background-position center
	.introduccion
		display block
		margin 120px auto
		max-width 520px
		font-size 1.25em
		position relative
		padding 40px 20px
		background white
	h1
		text-transform uppercase
		font-weight 700
	h2, p
		font-family serif
	h2
		color black + 50%
	p
		font-size 1.2em
#main
	background white
	padding-top 42px
	h1
		margin .5em 0 0
	p.subtitle
		margin 0
		color black + 50%
	.controls
		margin-top 2em
		text-align right
	header
		padding 1em 2em
		border-bottom 1px solid lightgrey
	article
		padding 1em 2em
		p:first-child
			margin 0
	footer
		.controls
			text-align center
		padding 1em 2em
		padding-bottom 2em
		border-top 1px solid lightgrey
.dashboard
	.layout
		padding-left 310px
		overflow hidden
#list
	position fixed
	top 41px
	bottom 0
	overflow auto
	width 310px
	left 0
	strong
		text-transform capitalize
	.pure-menu
		border none
		background none
	.controls
		padding 1em
	.filter-form
		margin-top 2em
		margin-bottom 2em
		legend
			font-size 100%
			color black
			cursor pointer
		fieldset
			margin 0
	li.action
		margin-bottom .5em
		a
			color black
			background white
			margin 0em 1em
			border-bottom 1px solid rgba(black,.2)
		&.pure-menu-selected
			a
				background primaryColor
				color white
	.pure-menu-selected
		a
			background lightgrey
			color black
.pure-form
	p
		margin 0
		margin-bottom 1em
	input, select, textarea
		margin-bottom 8px
		box-shadow auto
	.box-inside
		padding 0em 1em
	label
		color black + 50%
	legend
		color river
	fieldset
		margin 2em 0em
		&:last-child
			margin-bottom inherit
	textarea
		height 34px * 4
	.age
		white-space nowrap
		input
			display inline
	.highlight
		border-bottom-color listHighlight
	.variations-list
		img
			margin-right 10px
			border-radius 3px
	button
		margin 1em 0em
	.checkbox-list
		label
			display inline-block
			width 50%
			&:hover
				background lightgrey
				cursor pointer
.uploader-container
	input
		display none
.modal.fade.in
	top 20px
.modal
	max-width 960px
	transform translate(-50%,-50%)
	.modal-header
		border-radius none
.modal-body
	padding 0
	max-height 520px
.labels-container
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	.label
		position absolute
		border 2px solid white
		box-shadow inset 0px 0px 1px black, 0px 0px 1px black
		.text
			display inline-block
			padding 5px
			position absolute
			top 100%
			margin-top -15px
			background white
			color black
			max-height 0px
			overflow hidden
			opacity 0
			transition .25s all
		&:hover
			.text
				opacity 1
				margin-top 5px
				max-height 40px
.photo-container
	img
		margin 0
		padding 0
	.overlay
		position absolute
		top 0
		left 0
		width 100%
		background rgba(black,0)
		textarea, span
			display none
		&.mark-tag
			cursor crosshair
		.tag
			position absolute
			border 1px solid white
			transition .25s opacity, border, background
			box-shadow 0px 0px 1px black
			.pure-form
				bottom 0
			.ui-resizable-handle
				opacity 0
				transition .25s opacity
			&.editable
				background rgba(primaryColor,.5)
				border 1px solid primaryColor
				&:hover
					.ui-resizable-handle
						opacity 1
				textarea
					display block
					position absolute
					margin 0
					height 5em
					width 100%
					top 100%
					margin-top 5px
				span
					display block
					position absolute
					top 0
					right 0
					text-align center
					padding 1em
					background white
					cursor pointer
					&:hover
						background lightgrey


.box-inner
	padding 0px 20px
.space-top
	padding-top 150px
.controls 
	.uploader
		display inline-block
		div
			display inline-block
.typeahead
	list-style-type none
	border 1px solid lightgrey
	padding 1em 0
	position absolute
	background white
	z-index: 100
	a
		padding .25em 1em
		display block
		color black + 40%
		font-size 90%
		transition none
		&:hover
			background primaryColor
			color white
	.active
		background primaryColor
		a
			color white
.thumbnail
	position relative
	max-height 120px
	margin-right 5px
	margin-bottom 5px
	.delete
		position absolute
		top -1em
		right 0
		max-height 0px
		opacity 0
		transition all .25s
		display inline-block
	&:hover
		.delete
			top 0em
			opacity 1
			max-height 40px

.notification
	position absolute
	left 50%
	top 1em
	z-index: 1000
	.error
		background red
		color white
	.success
		background esmeralda
		color white
	.neutral
		background yellow
		color black
	ul
		padding 0
		margin 0
		list-style-type: none
		width 100%
		display inline-block
		text-align center
		margin-left -250px
		li
			background white
			padding .5em 1em
			text-align center
			width 500px
			margin-bottom .5em
.dropdown-menu
	list-style-type: none
	position absolute
	margin 0
	padding .25em
	background white
	border 1px solid black + 80%
	z-index: 100
.datepicker
	width 100%
	.muted, em
		color black + 70%
	td
		padding 0
	thead
		button
			padding .25em .5em
			width 100%
	tbody
		button
			padding .5 em
	button
		background none
		border 0
		padding 4px
		margin 0
		&.btn-info
			background blue
			color white
			&:hover
				background blue
		&:hover
			background lightgrey
.text-center
	text-align center
.loading-message
	z-index: 1000
	text-align center
	.center
		display inline-block
		width 70px
		text-align center
		font-size 90%
		padding 1em
		color black + 50%
.ui-resizable-handle
	width 16px
	height 16px
	background rgba(lightgrey,.9)
	border 1px solid lightgrey - 30%
	position absolute
.ui-resizable-s
	bottom -16px
	right 50%
	cursor s-resize
.ui-resizable-se
	bottom -16px
	right -16px
	cursor se-resize
.ui-resizable-sw
	bottom -16px
	left -16px
	cursor sw-resize
.ui-resizable-e
	bottom 50%
	right -16px
	cursor e-resize
.ui-resizable-w
	bottom 50%
	left -16px
	cursor w-resize
.ui-resizable-n
	top -16px
	right 50%
	cursor n-resize
.ui-resizable-ne
	top -16px
	right -16px
	cursor ne-resize
.ui-resizable-nw
	top -16px
	left -16px
	cursor nw-resize
.ui-draggable
	cursor move
.ui-draggable-dragging
	opacity .7
.ui-resizable-resizing
	border 2px dashed rgba(primaryColor + 40%, .7) !important
	.ui-resizable-handle
		background rgba(primaryColor + 40%, .7)
.overlay-tag
	background rgba(black,.5)
	position absolute
	width 100%
	height 100%
.report-container
	position relative
	width 700px
.report-title
	font-weight normal
	margin-left 1em
	font-size 1.5em
	white-space pre
.report-legend-container
	position absolute
	top 5em
	left 600px
.report-legend
	.color
		width 10px
		height 10px
		display inline-block
.paginate
	font-size 80%
	text-align center
	background white
	margin 2em 0em
	a
		display inline-block
		box-sizing border-box
		text-decoration none
		background white
		height 30px
		width 30px
		line-height 30px
		&.active
			background primaryColor
			color white
			&:hover
				background primaryColor !important